body {   
   margin: 0;
   padding: 0;

   position: relative;
}

.whole {
   position: relative;

   width: fit-content;
   height: fit-content;

   margin: 0 auto;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background-color: rgb(59, 60, 73);
}